# Python
__pycache__/
*.py[cod]
*$py.class
.Python
.env
.venv
venv/

# IDE
.idea/
.vscode/

# Logs
*.log

# PyInstaller
build/
dist/
*.spec

# Other
.DS_Store 

# 点表目录
FAT点表/
HMI点表/
IO点表模板/
PLC点表/
上下位通讯点表/ 